<div data-test-cart-card
  class="w-[720px] p-4 pr-8 bg-white rounded-lg border border-gray-100 shadow-sm flex"
>

  <img
    class="object-cover object-center w-[208px] h-[152px] rounded-lg mr-8"
    src="{{@product.image}}"
    alt="{{@product.name}}"
  />

  <div class="flex flex-col justify-between flex-grow">

    <div>
      <div
        class="text-xl font-bold leading-7 text-gray-800"
      >{{@product.name}}</div>

      <div class="pt-2">
        <Offer @product={{@product}} />
      </div></div>

    <div><QuantitySelector
        @quantity={{this.quantity}}
        @incrementQuantity={{this.incrementQuantity}}
        @decrementQuantity={{this.decrementQuantity}}
      /></div>

  </div>

  <div
    class="pr-2 text-xl font-normal leading-7 text-gray-800"
  >{{format-currency @product.price}}</div>

</div>