<div class="w-[720px] h-[184px] bg-white rounded-lg border border-gray-100 shadow-sm">

    <div class="w-[208px] h-[152px] bg-green-300 rounded-lg absolute top-4 left-4">
    <img class="object-cover object-center" src="{{@product.image}}" alt="{{@product.name}}">    
    </div>
    
    <div class="absolute left-[256px] top-[19px] bg-blue-300 h-[149px] w-[448px]">
    <div class="flex justify-between">
  <div class="text-xl font-bold leading-7 text-gray-800">x{{@product.name}}</div>
  <div class="pr-2 text-xl font-normal leading-7 text-gray-800">x{{format-currency @product.price}}</div>
</div>   
    
    <div class="pt-2">
    <Offer @product={{@product}}/>
    </div>
    <div class="absolute bottom-0"> 
    <QuantitySelector @quantity={{this.quantity}} @incrementQuantity={{this.incrementQuantity}} @decrementQuantity={{this.decrementQuantity}}/> 
    </div> 
    </div>
        
    </div>


