<div class="w-[720px] h-[184px] bg-white rounded-lg border border-gray-100 shadow-sm flex">

    <div class="w-[208px] h-[152px] relative top-4 left-4">
  <div class="w-full h-full overflow-hidden rounded-lg">
    <img class="object-cover object-center w-full h-full" src="{{@product.image}}" alt="{{@product.name}}">
  </div>
</div>
    
    <div class="relative left-[48px] top-[19px] h-[149px] w-[448px]">
    <div class="flex justify-between">
  <div class="text-xl font-bold leading-7 text-gray-800">{{@product.name}}</div>
  <div class="pr-2 text-xl font-normal leading-7 text-gray-800">{{format-currency @product.price}}</div>
</div>   
    
    <div class="pt-2">
    <Offer @product={{@product}}/>
    </div>
    <div class="absolute bottom-0"> 
    <QuantitySelector @quantity={{this.quantity}} @incrementQuantity={{this.incrementQuantity}} @decrementQuantity={{this.decrementQuantity}}/> 
    </div> 
    </div>
        
    </div>


