<nav class="flex space-x-8">
  {{#each this.options as |option|}}
     <div class="{{if (this.isSelected option) 'border-b border-violet-700 text-violet-700' ''}}">
      <LinkTo @route={{option.route}} class={{if (eq this.selectedOption option.label) "text-violet-700" "text-gray-800"}} {{on "click" (fn this.selectOption option)}}>
        <h1>{{option.label}}</h1>
      </LinkTo>
    </div>
  {{/each}}
</nav>







    


