<div class="h-[363px] w-[352px]  mx-auto my-4 border rounded-lg border-cyan-950">
  <div class="h-[255px] w-[352px] overflow-hidden">
  <img class="object-center rounded-t-lg roundedobject-cover" src="{{@product.image}}" alt="{{@product.name}}">
</div>
  <p class="my-2 ">
    <div>{{@product.name}}</div>
    <div>{{format-currency @product.price}}</div>
  </p>
  <p class="my-2">In Cart: {{this.quantity}}</p>
  <button
    type="button"
    class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700"
    {{on "click" this.addToCart}}
  >
    Add to cart
  </button>
</div>
