{{page-title "Shopping Cart"}}

<div class="mt-[72px] w-[1440px] mx-auto px-[136px]">
  <LinkTo @route="products">
    <div data-test-continue-nav
      class="flex items-center justify-start pt-12 text-base font-normal leading-6"
    >
      <HeroIcon
        class="w-6 h-6 mr-2 text-gray-800"
        @icon="chevron-left"
        @type="outline"
      />Continue shopping
    </div>
  </LinkTo>

<PageHeader 
  @heading="Shopping Cart" 
  @subheadingTemplate="You have {quantity} items in your cart."
  @quantity={{this.cart.quantity}}/>


  <div class="flex">

    {{#if this.model.cart.quantity}}
      <div class="grid grid-rows-3 pb-10 mt-8 gap-y-6">
        {{#each this.model.cart.items as |cartItem|}}
          <CartCard
            @product={{cartItem.product}}
            @incrementQuantity={{this.incrementQuantity}}
            @decrementQuantity={{this.decrementQuantity}}
          />
        {{/each}}
      </div>
    {{else}}
      <div class="w-[720px] mt-8 ml-[136px]">
      </div>
    {{/if}}

    <div class="mt-8 ml-12">

      <CartSummary
        @totalPayable={{this.cart.totalPayable}}
        @subtotal={{this.cart.subtotal}}
        @totalDiscount={{this.cart.totalDiscount}}
      />

    </div>
  </div>
</div>