{{page-title "Shopping Cart"}}

<LinkTo @route="products">
<div class="flex items-center absolute w-[183px] h-[40px] top-[120px] left-[136px] justify-start text-base leading-6 font-normal">
    <HeroIcon class="w-6 h-6 mr-2 text-gray-800" @icon="chevron-left" @type="outline"/>Continue shopping
</div>
</LinkTo>


<h1 class="absolute left-[136px] top-[224px] text-4xl leading-10 font-medium text-gray-800 max-w-[1440px]">Shopping Cart</h1>
<h3 class="absolute left-[136px] top-[224px] my-12 text-xl leading-7 font-normal text-gray-800">You have {{this.model.totalItems}} items in your cart.</h3>


<div class="absolute top-[332px] left-[136px] grid grid-rows-3 gap-y-6">

       
      
{{#each this.model.products as |product|}}
    <CartCard
      @product={{product}}
      @quantity={{this.cart.getItemQuantity product}}
      @incrementQuantity={{this.incrementQuantity}}
      @decrementQuantity={{this.decrementQuantity}}
    />
  {{/each}}

</div>

<div class="absolute top-[332px] left-[904px]">

<CartSummary
  @totalPayable={{this.cart.totalPayable}}
  @subtotal={{this.cart.subtotal}}
  @totalDiscount={{this.cart.totalDiscount}}/>    
    
</div>



